<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Not Found</title>
    <link rel="stylesheet" href="{{ css_file }}">
</head>
<body>
    <h1 class="logo">Student Data Not Found</h1>
    <p>We could not find your data in our records. If you would like to add your data, please click the button below to fill out the Google Form.</p>
    <a href="https://forms.gle/h3Knaryzphqpbhxj8" target="_blank" class="button">Add Your Data</a>
    <button onclick="window.history.back()">Return Back</button>
</body>
</html>
